*{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

body {
    background-color:lightsteelblue;
    text-align: center;
    justify-content: center; 
    align-items:center;
}

header {
    color:blanchedalmond;
} 

.header {
    display:flex;
    text-align: center;
    justify-content: center; 
    align-items:center;
    font-size: 2em;
    margin: 0;
}

.header img{
    margin: 2%;
    width: 80px;
}

.title{
    font-size: 1.5em;
    color: #343a40!important;
}
.container{
    padding: 0;
}

div{
    margin-top: 1%;
}

#chartContainer {
    display:flex;
    justify-content: center; 
}

footer {
    background-color:black; 
    color:blanchedalmond;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align:left;
}